<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Hello</title>
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <div id="app">
      <input type="text" id="new" v-model="newPage">
      <button v-on:click="createPage" id="but_new">Создать страницу</button>
      <input type="text" id="del" v-model="delPage">
      <button v-on:click="deletePage" id=" but_del">Какую страницу удалить?</button>
      <h1>Страницы из папки vue</h1>
      <div v-for="(page,index) in pageList">
         <h3> {{index + 1}}. {{page}} <a href="#" @click="deletePageList(page)">X</a></h3>
      </div>
   </div>



   <!-- <h1>Страницы которые находятся в папке vue</h1> -->
   <!-- <input name="delete" type="submit" value="Delete Now!"> -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="bundle.js"></script>

</body>

</html>